
name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Deploy code
        run: |
          # Add your deploy script here
=======
name: Task 5

on:
  workflow_dispatch:
    inputs:
      team9_env:
        description: 'Select environment'     
        required: true
        default: 'dev'
        type: choice
        options:
        - dev
        - test
        - prod
jobs:
  job1:
    runs-on: ubuntu-latest
    environment: ${{ inputs.team9_env }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Azure Login
        uses: azure/login@v1  
        with:
            creds: ${{ secrets.AZURE_SERVICEPRINCIPAL_CREDS }}
      - name: Run ARM deploy
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.SUBSCRIPTION_ID }}
          resourceGroupName: ${{ vars.TEAM9_RESOURCEGROUP }}
          template: ./ARM-Templates/container-webapp-template.json

